---
import { Image } from "astro:assets"
import ThemeIcon from "@/components/oneSize/ThemeIcon.astro"
import logo from "@/assets/logo.png"
import HomeSvg from "@/assets/home.svg"
import Archive from "@/assets/archive.svg"
import Chat from "@/assets/chat.svg"
import Xiangce from "@/assets/xiangce.svg"
import About from "@/assets/about.svg"
import Search from "@/components/uiverse/Search.astro"
import Menu from "@/assets/menu.svg"
import MobileMenu from "@/components/headers/MobileMenu.astro"
---

<nav id="nav" aria-label="主导航" class="backdrop nav-bg fixed top-0 z-9 h-18 w-full">
	<div class="mx-auto flex h-18 items-center justify-between overflow-visible! px-4 xl:w-[92vw]">
		<div
			class="relative flex h-full w-full items-center justify-between lg:grid lg:grid-cols-[auto_minmax(0,1fr)_auto]"
		>
			<a href="/" class="btn-plain h-13 px-5">
				<Image src={logo} alt="logo" width="35" class="mr-2" loading="eager" />
				<div class="hidden sm:block">亦林</div>
			</a>
			<div class="col-start-2 hidden items-center justify-center space-x-1 lg:flex">
				<a href="/" class="btn-plain h-10 px-4">
					<div class="hidden xl:block"><HomeSvg /></div>
					<div class="pl-1">主页</div>
				</a>
				<a href="/" class="btn-plain h-10 px-4">
					<div class="hidden xl:block"><Archive /></div>
					<div class="pl-1">归档</div>
				</a>
				<a href="/" class="btn-plain h-10 px-4">
					<div class="hidden xl:block"><Chat /></div>
					<div class="pl-1">留言</div>
				</a>
				<a href="/" class="btn-plain h-10 px-4">
					<div class="hidden xl:block"><Xiangce /></div>
					<div class="pl-1">相册</div>
				</a>
				<a href="/" class="btn-plain h-10 px-4">
					<div class="hidden xl:block"><About /></div>
					<div class="pl-1">关于</div>
				</a>
			</div>

			<div class="flex items-center justify-center space-x-1">
				<Search />
				<div class="flex items-center justify-center space-x-1">
					<ThemeIcon />
					<div id="nav-menu-panel" class="lg:hidden">
						<div class="btn-plain cursor-pointer p-2">
							<Menu />
						</div>
					</div>
				</div>
			</div>
			<MobileMenu />
		</div>
	</div>
</nav>

<style>
	.nav-bg {
		background-image: var(--nav-bg);
		box-shadow: 0.1rem 0.1rem 0.2rem var(--grey-9-a1);
		text-shadow: 0 0 0.0625rem var(--grey-9-a1);
		color: var(--text-color);
	}

	#nav {
		transition: transform 0.4s ease;
	}
</style>

<script>
	const navbar = document.getElementById("nav")
	let lastScrollY = window.scrollY
	let ticking = false // 节流
	const updateNavbar = () => {
		if (!navbar) return
		const currentScrollY = window.scrollY
		if (currentScrollY > lastScrollY && currentScrollY > 0) {
			navbar.style.transform = "translateY(-100%)"
		} else {
			navbar.style.transform = ""
		}
		lastScrollY = currentScrollY
		ticking = false
	}
	window.addEventListener(
		"scroll",
		() => {
			if (!ticking) {
				window.requestAnimationFrame(updateNavbar)
				ticking = true
			}
		},
		{ passive: true },
	)
</script>
