---

---

<div
	id="header-waves"
	class="waves absolute -bottom-px h-[10vh] max-h-12.5 w-full md:h-[15vh]"
	style="transform: translateZ(0);"
>
	<svg
		class="waves"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28"
		preserveAspectRatio="none"
		shape-rendering="geometricPrecision"
	>
		<defs>
			<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v48h-352z"> </path>
		</defs>
		<g class="parallax">
			<use xlink:href="#gentle-wave" x="48" y="0" class="fill-(--page-bg) opacity-25"></use>
			<use xlink:href="#gentle-wave" x="48" y="3" class="fill-(--page-bg) opacity-50"></use>
			<use xlink:href="#gentle-wave" x="48" y="5" class="fill-(--page-bg) opacity-65"></use>
			<use xlink:href="#gentle-wave" x="48" y="7" class="fill-(--page-bg) opacity-75"></use>
		</g>
	</svg>
</div>
