@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    /* 基础主题色 */
    --grey-0: oklch(1 0 0);
    --grey-1: oklch(.995 0 0);
    --grey-2: oklch(.975 0 0);
    --grey-3: oklch(.952 .004 240);
    --grey-4: oklch(.845 0 0);
    --grey-4-5: oklch(.757 0 0);
    --grey-5: oklch(.597 0 0);
    --grey-6: oklch(.522 0 0);
    --grey-7: oklch(.321 0 0);
    --grey-8: oklch(.252 0 0);
    --grey-9: oklch(0 0 0);
    --grey-1-a0: oklch(.995 0 0 / 0);
    --grey-1-a7: oklch(.995 0 0 / .7);
    --grey-1-a5: oklch(.995 0 0 / .5);
    --grey-1-a3: oklch(.995 0 0 / .3);
    --grey-9-a1: oklch(0 0 0 / .1);
    --grey-9-a15: oklch(0 0 0 / .15);
    --grey-9-a2: oklch(0 0 0 / .2);
    --grey-9-a5: oklch(0 0 0 / .5);
    --grey-9-a6: oklch(0 0 0 / .6);
    --grey-2-a0: oklch(.975 0 0 / 0);

    /* 二级设置 */
    --text-color: var(--grey-7);
    --nav-bg: linear-gradient(-225deg, oklch(.972 .038 169.1 / .72) 0%, oklch(.946 .06 338.1 / .72) 100%);
}

:root[data-theme="dark"] {
    /* 二级设置 */
    --text-color: var(--grey-4-5);
    --nav-bg: linear-gradient(-225deg, oklch(.321 .006 174.8) 0, oklch(.313 .011 347.9) 100%);
}