/* 1.基础样式 */
#header-waves {
    /* 创建新的叠层上下文，防止内部的混合模式影响外部 */
    isolation: isolate;
    /* contain给浏览器说，该样式独立于文档，可性能优化 */
    contain: layout style;
    margin-bottom: -1px;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

.waves {
    overflow: visible;
    z-index: 5;
    transform: translateZ(0);
    will-change: transform;
    contain: layout style;
}

.waves svg {
    width: 100%;
    height: 100%;
    display: block;
}

/* 2.波浪动画 */
.waves>.parallax {
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.waves>.parallax use {
    animation: wave 25s cubic-bezier(0.5, 0.5, 0.45, 0.5) infinite;
}

.waves>.parallax use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.waves>.parallax use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.waves>.parallax use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.waves>.parallax use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes wave {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* 3.移动端优化 */
@media (max-width: 1023px) {
    #header-waves {
        overflow: visible;
        z-index: 5;
        transition: transform 0.3s ease-in, opacity 0.2s ease-in;
    }

    .mobile-hide-banner #header-waves {
        display: none !important;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform 0.25s ease-in, opacity 0.15s ease-in;
    }

    .waves svg {
        min-height: 60px;
    }

    .waves {
        bottom: -1px !important;
        position: absolute !important;
    }
}