---
import { url } from "@/utils/url-utils"

const DES = "主页页脚"
const currentYear = new Date().getFullYear()
---

<div class="footer col-span-1 md:col-span-1 md:col-start-2 xl:col-span-1 xl:col-start-2">
	<div class="mx-32 my-10 border-t-2 border-black/10 transition dark:border-white/15"></div>
	<div
		class="mb-12 flex flex-col items-center justify-center rounded-2xl border-dashed border-[oklch(85%_0.01_var(--hue))] px-6 transition dark:border-white/15"
	>
		<div class="text-50 text-center text-sm transition">
			<div class="mb-2">
				<!-- 自定义Footer -->
			</div>
			<div class="m-0.5">
				©️ <span id="copyright-year">{currentYear}</span>
				ChenBlog. All Rights Reserved. /
				<a class="link font-medium text-(--primary) transition" target="_blank" href={url("rss.xml")}>RSS</a> /
				<a class="link font-medium text-(--primary) transition" target="_blank" href={url("sitemap-index.xml")}
					>Sitemap</a
				>
			</div>
			<div class="m-0.5">
				Powered by
				<a class="link font-medium text-(--primary) transition" target="_blank" href="https://astro.build"
					>Astro</a
				> &
				<a
					class="link font-medium text-(--primary) transition"
					target="_blank"
					href="https://github.com/CuteLeaf/Firefly">Firefly</a
				>
			</div>
		</div>
	</div>
</div>
