/* 用于首页哪些card展示 */
@reference "../global.css";

.card-base {
    @apply border border-(--line-divider) bg-(--card-bg) shadow-xs transition-all duration-300;
}

/* 主题按钮样式 */
.btn-regular {
    @apply flex items-center justify-center bg-(--btn-regular-bg) text-(--btn-content) transition-all duration-150 hover:bg-(--btn-regular-bg-hover) active:scale-90 active:bg-(--btn-regular-bg-active) dark:text-white/75;
}

.btn-regular svg {
    @apply text-2xl;
}

/* regular反色-即背景主题色填充，图标或文字白色，且仅有hover效果 */
.btn-regular-reverse {
    @apply border-(--primary) bg-(--primary) text-white hover:opacity-80;
}

/* 元数据Icon-regular样式，和btn-regular相同，取出hover效果、active效果 */
.meta-icon-regular {
    @apply flex items-center justify-center bg-(--btn-regular-bg) text-(--btn-content) transition-all duration-150 dark:text-white/75;
}

/* 空心按钮-即边框灰色，背景白色或黑色，hover时边框出现颜色 */
.btn-inner-blank {
    background: transparent;
    border: 1.5px solid var(--line-divider);
    @apply text-(--btn-content);
}

.btn-inner-blank:hover {
    border-color: var(--primary);
    color: var(--primary);
    background: transparent;
}

/* 首页卡片-标题块样式 */
.card-title {
    @apply relative mt-4 mb-2 ml-8 flex items-center text-lg font-bold text-neutral-900 transition before:w-1 dark:text-neutral-100;
}

.card-title::before {
    @apply absolute left-[-16px] h-4 w-1 bg-(--primary);
}

/* 右移动按钮-hover时文字右移动一点，其实就是hover实现padding-left效果 */
/* 注意h-10,则为40px */
.btn-right {
    @apply h-10 w-full bg-none pl-2 transition-all hover:bg-(--btn-plain-bg-hover) hover:pl-3 hover:text-(--primary) active:bg-(--btn-plain-bg-active) dark:text-neutral-300 dark:hover:text-(--primary);
}

/* 分类数字tag */
.counter-tag {
    @apply ml-4 flex h-7 min-w-8 items-center justify-center bg-(--btn-plain-bg-hover) px-2 text-sm font-bold text-(--btn-content) transition dark:bg-(--primary) dark:text-(--deep-text);
}

/* a元素主题样式-前面带竖线 */
.link-primary {
    @apply flex items-center justify-start before:absolute before:left-[18px] before:hidden before:h-5 before:w-1 before:bg-(--primary) hover:text-(--primary) active:text-(--title-active) md:before:block dark:hover:text-(--primary) dark:active:text-(--title-active);
}

/* 分页组件按钮-包含禁用 */
.btn-card {
    @apply flex items-center justify-center bg-(--card-bg) transition-colors duration-150 hover:bg-(--btn-card-bg-hover) active:bg-(--btn-card-bg-active);
}
.btn-card.disabled {
    @apply pointer-events-none text-black/10 dark:text-white/10;
}
