---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Header from "@/components/headers/Header.astro"
---

<BaseLayout title="首页">
	<Header />
	<div class="h-[1000px]"></div>
</BaseLayout>

<script>

</script>
