---
import { Image } from "astro:assets"
import ThemeIcon from "./oneSize/ThemeIcon.astro"
import logo from "@/assets/logo.png"
import HomeSvg from "@/assets/home.svg"
---

<nav id="nav" aria-label="主导航" class="backdrop nav-bg fixed top-0 z-9 h-18 w-full">
	<div class="mx-auto flex h-18 items-center overflow-visible! px-4">
		<a href="/" class="btn-plain h-13 px-5">
			<Image src={logo} alt="logo" width="35" class="mr-2" />
			亦林
		</a>
		<a href="/" class="btn-plain h-10 px-4">
			<HomeSvg />
			<div class="pl-1">主页</div>
		</a>
		<div class="flex"></div>
		<ThemeIcon />
	</div>
</nav>

<style>
	.nav-bg {
		background-image: var(--nav-bg);
		box-shadow: 0.1rem 0.1rem 0.2rem var(--grey-9-a1);
		text-shadow: 0 0 0.0625rem var(--grey-9-a1);
		color: var(--text-color);
	}

	#nav {
		transition: transform 0.4s ease;
	}
</style>

<script>
	const navbar = document.getElementById("nav")
	let lastScrollY = window.scrollY
	let ticking = false // 节流
	const updateNavbar = () => {
		if (!navbar) return
		const currentScrollY = window.scrollY
		if (currentScrollY > lastScrollY && currentScrollY > 0) {
			navbar.style.transform = "translateY(-100%)"
		} else {
			navbar.style.transform = ""
		}
		lastScrollY = currentScrollY
		ticking = false
	}
	window.addEventListener(
		"scroll",
		() => {
			if (!ticking) {
				window.requestAnimationFrame(updateNavbar)
				ticking = true
			}
		},
		{ passive: true },
	)
</script>
